---
http_interactions:
- request:
    method: get
    uri: https://www.okx.com/api/v5/public/time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Brokerid:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"0","data":[{"ts":"1644687947218"}],"msg":""}'
  recorded_at: Sat, 12 Feb 2022 17:45:46 GMT
- request:
    method: get
    uri: https://www.okx.com/api/v5/asset/withdrawal-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ok-Access-Key:
      - "<OKX_API_KEY>"
      Ok-Access-Sign:
      - js/tg5xx/JXxE3e5n6bE+4KbDxINYdyuV3erHDRnKLg=
      Ok-Access-Timestamp:
      - '2022-02-12T17:45:47.218Z'
      Ok-Access-Passphrase:
      - "<OKX_PASSPHRASE>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Brokerid:
      - '0'
    body:
      encoding: UTF-8
      string: '{"code":"0","data":[],"msg":""}'
  recorded_at: Sat, 12 Feb 2022 17:45:46 GMT
recorded_with: VCR 6.0.0
