---
http_interactions:
- request:
    method: get
    uri: https://www.okx.com/api/v5/public/time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Brokerid:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"code":"0","data":[{"ts":"1644512090660"}],"msg":""}'
  recorded_at: Thu, 10 Feb 2022 13:59:25 GMT
- request:
    method: get
    uri: https://www.okx.com/api/v5/trade/orders-pending?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ok-Access-Key:
      - "<OKX_API_KEY>"
      Ok-Access-Sign:
      - BO/AxRs+MKFueQETeJw0WP0FAgXHExwq+fdibMAwcXM=
      Ok-Access-Timestamp:
      - '2022-02-10T16:54:50.660Z'
      Ok-Access-Passphrase:
      - "<OKX_PASSPHRASE>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Brokerid:
      - '0'
    body:
      encoding: UTF-8
      string: '{"code":"0","data":[],"msg":""}'
  recorded_at: Thu, 10 Feb 2022 13:59:25 GMT
recorded_with: VCR 6.0.0
